<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Post{% endblock %}</title>
    {# Load the tag library #}
  {% load bootstrap3 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <div class="container"><h1><a href="{% url 'logout' %}">Logout</a></h1></div>
      {% else %}
      <div class="container"><h1><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a></h1></div>
      {% endif %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>