{% extends 'base.html' %}

{% block content %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });
    </script>
    <h2>Welcome {{ user.username }}!</h2>
    <span id="current-location">Current location: {{ user.location }}</span>
    <form action="/update_user/" method="POST" id="update-user">
        {% csrf_token %}
        Location: <input type="text" name="location" id="location"><br>
        Birth Day:<input type="date" name="birth_day" id="birthday" value="{{ user.birth_date|date:'Y-m-d' }}"><br>
        <input type="submit" value="Change">
    </form>
    <h2>Add your Post</h2>
    <form action="/create_post/" method="POST" id="post-form">
        {% csrf_token %}
        Title: <input type="text" name="title" id="post-title"><br>
        Body: <textarea name="body" id="post-text"></textarea><br>
        <div id="results"></div>
        <input type="submit" value="Post">
    </form>
    <ul id="talk">
        {% for post in posts %}
            <li>
                <a href="post/{{ post.id }}"><strong>{{ post.title }}</strong></a><br>
                {{ post.body }}
            </li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% load static %}
    <script src="{% static 'main.js' %}"></script>

{% endblock %}