{% extends 'base.html' %}

{% block content %}
    <!--<a href="/">Back to Posts</a><br>-->
    <strong>{{ post.title }}</strong> - <em>{{ post.user.username }}</em> - <span>{{ post.posted }}</span><br>
        {{ post.body }}
    <form action="/add_comment/" method="POST" id="add-comment">
        {% csrf_token %}
        Comment: <input type="text" name="comment" id="comment"><br>
        <input type="hidden" id="post-id" name="post_id" value="{{ post.id }}">
        <input type="submit" value="Post">
    </form>
    <h2>Comments:</h2>
    <ul id="discussion">
        {% for comment in comments %}
            <li>
                <strong>{{ comment.text }}</strong> - <em>{{ comment.user.username }}</em> - <span>{{ comment.posted }}</span>
            </li>
        {% endfor %}
    </ul>

    {% if comments.has_other_pages %}
        {% if comments.has_previous %}
          <a href="?page={{ commentss.previous_page_number }}">&laquo;</a>
        {% else %}
          <span>&laquo;</span>
        {% endif %}
        {% for i in comments.paginator.page_range %}
          {% if comments.number == i %}
            <span>{{ i }} <span class="sr-only">(current)</span></span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if comments.has_next %}
          <a href="?page={{ comments.next_page_number }}">&raquo;</a>
        {% else %}
          <span>&raquo;</span>
        {% endif %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        {% load static %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}